* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.weatherHeader {
  color: white;
  background-image: linear-gradient(
    to right,
    rgb(21, 21, 196),
    rgb(38, 0, 128)
  );
  text-align: center;
  padding-bottom: 10px;
}
.formContainer {
  max-width: 20vw;
}
.searchC {
  height: 35px;
  width: 19vw;
  min-width: 15vw;
  margin-top: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
  float: left;
  border-radius: 5px;
  padding-right: 50px;
}
.formContainer h2 {
  width: 19vw;
}
.btnContainer {
  float: left;
}
hr {
  border: 2px solid gray;
}
.btnContainer .button {
  height: 35px;
  width: 19vw;
  margin-left: 5px;
  margin-bottom: 15px;
  border: 0;
  background-color: rgb(29, 132, 216);
  border-radius: 5px;
  float: left;
}
.btnContainer button hr {
  color: tomato;
}
.display {
  position: fixed;
  margin-top: 5px;
  border: 2px solid black;
  width: 78vw;
  height: 250px;
  margin-right: 2px;
  display: inline-block;
}
.weatherCard {
  margin-top: 100px;
  margin-bottom: 500px;
  height: 500px;
}
.history {
  justify-content: center;
}
.card {
  width: 12vw;
  max-width: 250px;
  min-width: 200px;
  height: 300px;
  margin: 5px 5px 5px 5px;
  float: left;
  background-color: rgb(72, 72, 206);
  color: aliceblue;
  text-align: center;
  box-shadow: 1px 2px 5px black;
}
.card:hover {
  box-shadow: 1px 2px 8px black;
  width: 13vw;
  height: 310px;
  transition: 0.05s;
}
img {
  height: 76px;
  width: 50px;
}
.searchHistory {
  margin-bottom: 5px;
  text-align: center;
  background-color: gray;
  height: 40px;
  border-radius: 5px;
}
.hello {
  color: white;
  background-color: gray;
  text-align: center;
  border-radius: 5px;
}
.uvstart {
  width: 10%;
  float: left;
}
.uvIndex {
  background-color: aliceblue;
  width: 5%;
  float: left;
}
.low {
  background-color: green;
  width: 5%;
  float: left;
}
.moderate {
  background-color: yellow;
  width: 5%;
  float: left;
}
.high {
  background-color: orange;
  width: 5%;
  float: left;
}
.veryhigh {
  background-color: red;
  width: 5%;
  float: left;
}
.extreme {
  background-color: violet;
  width: 5%;
  float: left;
}
